In [144]:
import pandas as pd
import numpy as np
from scipy.stats import mode

### 파일 불러오기

In [ ]:
screening_data = pd.read_excel("data/건강검진테이블1_1000.xlsx")
diagnois_data = pd.read_excel("의과및보건기관상병내역_개선버전.xlsx")

In [146]:
diagnois_data

,RN_INDI,RN_KEY,MDCARE_STRT_DT,FORM_CD,MCEX_SICK_SYM,DETAIL_TMSG_SUBJ_CD,SICK_CLSF_TYPE,STD_YYYY,대분류,소분류
0,596535,2002120187152,20021202,3,J209,NaN,NaN,2002,J20,J209
1,615374,2002121012274,20021202,3,J209,NaN,NaN,2002,J20,J209
2,1005547,2002120808216,20021202,3,J209,NaN,NaN,2002,J20,J209
3,226594,2002120381612,20021202,3,J209,NaN,NaN,2002,J20,J209
4,204930,2002120790182,20021202,3,J209,NaN,NaN,2002,J20,J209
...,...,...,...,...,...,...,...,...,...,...
340591,2089576,2015082315258,20150810,3,J320,00,1.0,2015,J32,J320
340592,2089576,2015082312462,20150824,3,J320,00,1.0,2015,J32,J320
340593,2090701,2015012530018,20150117,3,F_,NaN,1.0,2015,F_,F_
340594,2090701,2015062184186,20150627,3,F_,NaN,1.0,2015,F_,F_
340595,2090701,2015062184456,20150613,3,F_,NaN,1.0,2015,F_,F_

### 변수 값 수정
- 날짜가 앞자리는 16진수로 저장되어있어 string type으로 수정

In [147]:
screening_data["HME_YYYYMM"][0].strip().split("_")

['', 'x0032', '00211']

In [148]:
modify_screening_data = screening_data.copy()
modify_screening_data["HME_YYYYMM"] = ['2'+str(day).strip().split('_')[2] for day in screening_data["HME_YYYYMM"]]
modify_screening_data["EXMD_BZ_YYYY"] = ['2'+str(day).strip().split('_')[2] for day in screening_data["EXMD_BZ_YYYY"]]

In [149]:
modify_screening_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_PHX1_DZ_V0208,Q_PHX1_YR,Q_PHX1_CR,Q_PHX2_DZ_V0208,Q_PHX2_YR,Q_PHX2_CR,Q_PHX3_DZ_V0208,...,G1E_URN_OCC_BLD,G1E_URN_PH,G1E_HGB,G1E_FBS,G1E_TOT_CHOL,G1E_SGOT,G1E_SGPT,G1E_GGT,G1E_CHST_XRAY_RST,G1E_EKG_RST
0,2002,572493,200211,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,13.3,75.0,216,26,30,12.0,1.0,NaN
1,2002,874800,200207,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,15.2,108.0,194,27,37,21.0,1.0,1.0
2,2002,88450,200207,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,14.0,81.0,196,22,17,10.0,1.0,1.0
3,2002,56993,200212,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,14.7,89.0,159,12,19,76.0,1.0,NaN
4,2002,591264,200210,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,17.2,104.0,198,33,33,34.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,2008,218649,200806,1.0,1982.0,1.0,NaN,NaN,NaN,NaN,...,1.0,6.0,16.1,84.0,264,31,39,75.0,1.0,NaN
1047,2008,39217,200812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,13.8,225.0,265,38,41,146.0,1.0,1.0
1048,2008,756414,200812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,7.0,13.2,117.0,178,88,171,126.0,1.0,1.0
1049,2008,642899,200806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,11.3,68.0,177,49,32,154.0,1.0,1.0
1050,2008,238542,200806,2.0,1991.0,2.0,NaN,NaN,NaN,NaN,...,1.0,6.5,15.4,84.0,203,84,47,74.0,1.0,2.0

In [150]:
modify_diagnois_data = diagnois_data.copy()

In [151]:
modify_diagnois_data

,RN_INDI,RN_KEY,MDCARE_STRT_DT,FORM_CD,MCEX_SICK_SYM,DETAIL_TMSG_SUBJ_CD,SICK_CLSF_TYPE,STD_YYYY,대분류,소분류
0,596535,2002120187152,20021202,3,J209,NaN,NaN,2002,J20,J209
1,615374,2002121012274,20021202,3,J209,NaN,NaN,2002,J20,J209
2,1005547,2002120808216,20021202,3,J209,NaN,NaN,2002,J20,J209
3,226594,2002120381612,20021202,3,J209,NaN,NaN,2002,J20,J209
4,204930,2002120790182,20021202,3,J209,NaN,NaN,2002,J20,J209
...,...,...,...,...,...,...,...,...,...,...
340591,2089576,2015082315258,20150810,3,J320,00,1.0,2015,J32,J320
340592,2089576,2015082312462,20150824,3,J320,00,1.0,2015,J32,J320
340593,2090701,2015012530018,20150117,3,F_,NaN,1.0,2015,F_,F_
340594,2090701,2015062184186,20150627,3,F_,NaN,1.0,2015,F_,F_
340595,2090701,2015062184456,20150613,3,F_,NaN,1.0,2015,F_,F_

In [ ]:
screening2_data = pd.read_excel("data/건강검진테이블2_1000.xlsx")
modify_screening2_data = screening2_data.copy()
modify_screening2_data["HME_YYYYMM"] = ['2'+str(day).strip().split('_')[2] for day in screening2_data["HME_YYYYMM"]]
modify_screening2_data["EXMD_BZ_YYYY"] = ['2'+str(day).strip().split('_')[2] for day in screening2_data["EXMD_BZ_YYYY"]]

### 건강검진테이블2과 변수를 통일화 하기

In [153]:
merge_data = modify_screening_data.copy()

In [154]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_PHX1_DZ_V0208,Q_PHX1_YR,Q_PHX1_CR,Q_PHX2_DZ_V0208,Q_PHX2_YR,Q_PHX2_CR,Q_PHX3_DZ_V0208,...,G1E_URN_OCC_BLD,G1E_URN_PH,G1E_HGB,G1E_FBS,G1E_TOT_CHOL,G1E_SGOT,G1E_SGPT,G1E_GGT,G1E_CHST_XRAY_RST,G1E_EKG_RST
0,2002,572493,200211,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,13.3,75.0,216,26,30,12.0,1.0,NaN
1,2002,874800,200207,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,15.2,108.0,194,27,37,21.0,1.0,1.0
2,2002,88450,200207,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,14.0,81.0,196,22,17,10.0,1.0,1.0
3,2002,56993,200212,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,14.7,89.0,159,12,19,76.0,1.0,NaN
4,2002,591264,200210,0.0,NaN,NaN,0.0,NaN,NaN,0.0,...,1.0,6.0,17.2,104.0,198,33,33,34.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,2008,218649,200806,1.0,1982.0,1.0,NaN,NaN,NaN,NaN,...,1.0,6.0,16.1,84.0,264,31,39,75.0,1.0,NaN
1047,2008,39217,200812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,13.8,225.0,265,38,41,146.0,1.0,1.0
1048,2008,756414,200812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,7.0,13.2,117.0,178,88,171,126.0,1.0,1.0
1049,2008,642899,200806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,11.3,68.0,177,49,32,154.0,1.0,1.0
1050,2008,238542,200806,2.0,1991.0,2.0,NaN,NaN,NaN,NaN,...,1.0,6.5,15.4,84.0,203,84,47,74.0,1.0,2.0

- 필요없는 열 없애기

In [155]:
merge_data.drop(["Q_PHX1_YR","Q_PHX2_YR","Q_PHX3_YR",
                 "Q_PHX1_CR","Q_PHX2_CR","Q_PHX3_CR","G1E_EKG_RST","Q_AWR_YN","Q_AWR_DZ",
                 "Q_NTR_PRF","G1E_HGHT","G1E_WGHT","G1E_VA_LT","G1E_VA_RT","G1E_HA_LT","G1E_HA_RT",
                 "G1E_URN_GLU","G1E_URN_OCC_BLD","G1E_URN_PH","G1E_CHST_XRAY_RST","G1E_GGT",
                 "G1E_CHST_XRAY_RST"],axis=1,inplace=True)
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_PHX1_DZ_V0208,Q_PHX2_DZ_V0208,Q_PHX3_DZ_V0208,Q_FHX_LVDZ,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,...,G1E_BMI,G1E_WSTC,G1E_BP_SYS,G1E_BP_DIA,G1E_URN_PROT,G1E_HGB,G1E_FBS,G1E_TOT_CHOL,G1E_SGOT,G1E_SGPT
0,2002,572493,200211,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,23.2,NaN,120,80,1.0,13.3,75.0,216,26,30
1,2002,874800,200207,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,29.4,NaN,120,80,1.0,15.2,108.0,194,27,37
2,2002,88450,200207,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,23.4,NaN,130,80,1.0,14.0,81.0,196,22,17
3,2002,56993,200212,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,25.6,NaN,130,80,1.0,14.7,89.0,159,12,19
4,2002,591264,200210,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,29.7,NaN,130,80,1.0,17.2,104.0,198,33,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,2008,218649,200806,1.0,NaN,NaN,1.0,1.0,1.0,1.0,...,24.3,89.0,120,80,1.0,16.1,84.0,264,31,39
1047,2008,39217,200812,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,29.8,90.0,140,100,4.0,13.8,225.0,265,38,41
1048,2008,756414,200812,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,22.7,71.0,137,85,1.0,13.2,117.0,178,88,171
1049,2008,642899,200806,NaN,NaN,NaN,1.0,2.0,1.0,1.0,...,21.6,70.0,108,66,1.0,11.3,68.0,177,49,32
1050,2008,238542,200806,2.0,NaN,NaN,1.0,1.0,1.0,1.0,...,31.6,96.0,115,70,2.0,15.4,84.0,203,84,47

- 건강검진테이블2과 변수를 통일화 하기(과거 질병병력유무 열 추가)

In [156]:
merge_data["Q_PHX_DX_STK"]=0
merge_data["Q_PHX_DX_HTDZ"]=0
merge_data["Q_PHX_DX_HTN"]=0
merge_data["Q_PHX_DX_DM"]=0
merge_data["Q_PHX_DX_PTB"]=0
merge_data["Q_PHX_DX_ETC"]=0
# merge_data["Q_PHX_TX_STK"]=0
# merge_data["Q_PHX_TX_HTDZ"]=0
# merge_data["Q_PHX_TX_HTN"]=0
# merge_data["Q_PHX_TX_DM"]=0
# merge_data["Q_PHX_TX_STK"]=0
# merge_data["Q_PHX_DX_STK"]=0

In [157]:
merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]] = merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]].fillna(0)
merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]] = merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]].astype("int")

In [158]:
merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]]

      Q_PHX1_DZ_V0208  Q_PHX2_DZ_V0208  Q_PHX3_DZ_V0208
0                   0                0                0
1                   0                0                0
2                   0                0                0
3                   0                0                0
4                   0                0                0
...               ...              ...              ...
1046                1                0                0
1047                0                0                0
1048                0                0                0
1049                0                0                0
1050                2                0                0

[1051 rows x 3 columns]

- 과거 병력값에 따라 과거 질병병력유무에 값추가

In [ ]:
for idx, dias_list in merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]].iterrows():
    for dias in dias_list:
        if dias == 1: merge_data["Q_PHX_DX_PTB"][idx] = 1
        elif dias == 4: merge_data["Q_PHX_DX_HTN"][idx] = 1
        elif dias == 5: merge_data["Q_PHX_DX_HTDZ"][idx] = 1
        elif dias == 6: merge_data["Q_PHX_DX_STK"][idx] = 1
        elif dias == 7: merge_data["Q_PHX_DX_DM"][idx]= 1
        elif dias == 8: merge_data["Q_PHX_DX_ETC"][idx] = 1
        elif dias == 9: merge_data["Q_PHX_DX_ETC"][idx] = 1

In [160]:
merge_data[["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"]]

      Q_PHX1_DZ_V0208  Q_PHX2_DZ_V0208  Q_PHX3_DZ_V0208
0                   0                0                0
1                   0                0                0
2                   0                0                0
3                   0                0                0
4                   0                0                0
...               ...              ...              ...
1046                1                0                0
1047                0                0                0
1048                0                0                0
1049                0                0                0
1050                2                0                0

[1051 rows x 3 columns]

In [161]:
merge_data[["Q_PHX_DX_PTB","Q_PHX_DX_HTN","Q_PHX_DX_HTDZ","Q_PHX_DX_STK","Q_PHX_DX_DM","Q_PHX_DX_ETC"]]

,Q_PHX_DX_PTB,Q_PHX_DX_HTN,Q_PHX_DX_HTDZ,Q_PHX_DX_STK,Q_PHX_DX_DM,Q_PHX_DX_ETC
0,0,0,0,0,0,0
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
1046,1,0,0,0,0,0
1047,0,0,0,0,0,0
1048,0,0,0,0,0,0
1049,0,0,0,0,0,0
1050,0,0,0,0,0,0

- 과거병력코드 1, 2, 3 열 없애기

In [162]:
merge_data.drop(["Q_PHX1_DZ_V0208","Q_PHX2_DZ_V0208","Q_PHX3_DZ_V0208"],axis=1,inplace=True)

In [163]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_LVDZ,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_CC,Q_DRK_FRQ_V0108,...,G1E_FBS,G1E_TOT_CHOL,G1E_SGOT,G1E_SGPT,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC
0,2002,572493,200211,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,75.0,216,26,30,0,0,0,0,0,0
1,2002,874800,200207,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,108.0,194,27,37,0,0,0,0,0,0
2,2002,88450,200207,1.0,1.0,1.0,1.0,1.0,2.0,1.0,...,81.0,196,22,17,0,0,0,0,0,0
3,2002,56993,200212,NaN,NaN,NaN,NaN,2.0,NaN,2.0,...,89.0,159,12,19,0,0,0,0,0,0
4,2002,591264,200210,1.0,1.0,1.0,1.0,1.0,1.0,2.0,...,104.0,198,33,33,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,2008,218649,200806,1.0,1.0,1.0,1.0,1.0,1.0,3.0,...,84.0,264,31,39,0,0,0,0,1,0
1047,2008,39217,200812,1.0,1.0,1.0,1.0,2.0,1.0,3.0,...,225.0,265,38,41,0,0,0,0,0,0
1048,2008,756414,200812,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,117.0,178,88,171,0,0,0,0,0,0
1049,2008,642899,200806,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,68.0,177,49,32,0,0,0,0,0,0
1050,2008,238542,200806,1.0,1.0,1.0,1.0,1.0,1.0,3.0,...,84.0,203,84,47,0,0,0,0,0,0

- 가족력관한 열 값 바꾸기
- 1->0 2->1로 바꾸기(건강검진테이블2과 똑같이 하기 위해)

In [164]:
merge_data.drop(["Q_FHX_LVDZ"],axis=1,inplace=True)

In [165]:
merge_data[["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]] =merge_data[["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]].fillna(1)

In [166]:
merge_data[["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]]

      Q_FHX_HTN  Q_FHX_STK  Q_FHX_HTDZ  Q_FHX_DM  Q_FHX_CC
0           1.0        1.0         1.0       1.0       1.0
1           1.0        1.0         1.0       1.0       1.0
2           1.0        1.0         1.0       1.0       2.0
3           1.0        1.0         1.0       2.0       1.0
4           1.0        1.0         1.0       1.0       1.0
...         ...        ...         ...       ...       ...
1046        1.0        1.0         1.0       1.0       1.0
1047        1.0        1.0         1.0       2.0       1.0
1048        1.0        1.0         1.0       1.0       1.0
1049        2.0        1.0         1.0       1.0       1.0
1050        1.0        1.0         1.0       1.0       1.0

[1051 rows x 5 columns]

In [ ]:
for name in ["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]:
    merge_data[name][merge_data[name] == 1] = 0
    merge_data[name][merge_data[name] == 2] = 1

In [168]:
merge_data[["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]]

      Q_FHX_HTN  Q_FHX_STK  Q_FHX_HTDZ  Q_FHX_DM  Q_FHX_CC
0           0.0        0.0         0.0       0.0       0.0
1           0.0        0.0         0.0       0.0       0.0
2           0.0        0.0         0.0       0.0       1.0
3           0.0        0.0         0.0       1.0       0.0
4           0.0        0.0         0.0       0.0       0.0
...         ...        ...         ...       ...       ...
1046        0.0        0.0         0.0       0.0       0.0
1047        0.0        0.0         0.0       1.0       0.0
1048        0.0        0.0         0.0       0.0       0.0
1049        1.0        0.0         0.0       0.0       0.0
1050        0.0        0.0         0.0       0.0       0.0

[1051 rows x 5 columns]

In [169]:
merge_data [["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]]=merge_data [["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]].astype("int")

In [170]:
merge_data[["Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_CC"]]

      Q_FHX_HTN  Q_FHX_STK  Q_FHX_HTDZ  Q_FHX_DM  Q_FHX_CC
0             0          0           0         0         0
1             0          0           0         0         0
2             0          0           0         0         1
3             0          0           0         1         0
4             0          0           0         0         0
...         ...        ...         ...       ...       ...
1046          0          0           0         0         0
1047          0          0           0         1         0
1048          0          0           0         0         0
1049          1          0           0         0         0
1050          0          0           0         0         0

[1051 rows x 5 columns]

- 필요없는 열 다시 제거(전문가 자문으로 생애 질병 확률에는 운동, 술, 담배, 가족력, BMI을 확인하는 것이 중요)

In [171]:
merge_data.columns

Index(['EXMD_BZ_YYYY', 'RN_INDI', 'HME_YYYYMM', 'Q_FHX_HTN', 'Q_FHX_STK',
       'Q_FHX_HTDZ', 'Q_FHX_DM', 'Q_FHX_CC', 'Q_DRK_FRQ_V0108',
       'Q_DRK_AMT_V0108', 'Q_SMK_YN', 'Q_SMK_NOW_AMT_V0108', 'Q_SMK_DRT',
       'Q_SMK_STRT_YR', 'Q_SMK_STOP_YR', 'Q_PA_FRQ', 'G1E_BMI', 'G1E_WSTC',
       'G1E_BP_SYS', 'G1E_BP_DIA', 'G1E_URN_PROT', 'G1E_HGB', 'G1E_FBS',
       'G1E_TOT_CHOL', 'G1E_SGOT', 'G1E_SGPT', 'Q_PHX_DX_STK', 'Q_PHX_DX_HTDZ',
       'Q_PHX_DX_HTN', 'Q_PHX_DX_DM', 'Q_PHX_DX_PTB', 'Q_PHX_DX_ETC'],
      dtype='object')

In [172]:
merge_data.drop(["Q_SMK_STRT_YR","Q_SMK_STOP_YR","Q_SMK_DRT","G1E_WSTC"],axis=1,inplace=True)
merge_data.drop(["G1E_URN_PROT","G1E_HGB","G1E_FBS","G1E_TOT_CHOL","G1E_SGOT","G1E_SGPT"],axis=1,inplace=True)
merge_data.drop(['G1E_BP_SYS', 'G1E_BP_DIA',],axis=1,inplace=True)

In [173]:
merge_data.columns

Index(['EXMD_BZ_YYYY', 'RN_INDI', 'HME_YYYYMM', 'Q_FHX_HTN', 'Q_FHX_STK',
       'Q_FHX_HTDZ', 'Q_FHX_DM', 'Q_FHX_CC', 'Q_DRK_FRQ_V0108',
       'Q_DRK_AMT_V0108', 'Q_SMK_YN', 'Q_SMK_NOW_AMT_V0108', 'Q_PA_FRQ',
       'G1E_BMI', 'Q_PHX_DX_STK', 'Q_PHX_DX_HTDZ', 'Q_PHX_DX_HTN',
       'Q_PHX_DX_DM', 'Q_PHX_DX_PTB', 'Q_PHX_DX_ETC'],
      dtype='object')

In [174]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_CC,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC
0,2002,572493,200211,0,0,0,0,0,1.0,NaN,1.0,NaN,1.0,23.2,0,0,0,0,0,0
1,2002,874800,200207,0,0,0,0,0,1.0,NaN,1.0,NaN,2.0,29.4,0,0,0,0,0,0
2,2002,88450,200207,0,0,0,0,1,1.0,NaN,1.0,NaN,2.0,23.4,0,0,0,0,0,0
3,2002,56993,200212,0,0,0,1,0,2.0,2.0,1.0,NaN,1.0,25.6,0,0,0,0,0,0
4,2002,591264,200210,0,0,0,0,0,2.0,2.0,3.0,2.0,1.0,29.7,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046,2008,218649,200806,0,0,0,0,0,3.0,4.0,2.0,NaN,1.0,24.3,0,0,0,0,1,0
1047,2008,39217,200812,0,0,0,1,0,3.0,3.0,2.0,NaN,1.0,29.8,0,0,0,0,0,0
1048,2008,756414,200812,0,0,0,0,0,1.0,NaN,1.0,NaN,1.0,22.7,0,0,0,0,0,0
1049,2008,642899,200806,1,0,0,0,0,1.0,NaN,1.0,NaN,5.0,21.6,0,0,0,0,0,0
1050,2008,238542,200806,0,0,0,0,0,3.0,1.0,1.0,NaN,2.0,31.6,0,0,0,0,0,0

In [175]:
merge_data[["Q_DRK_FRQ_V0108","Q_DRK_AMT_V0108","Q_SMK_YN","Q_SMK_NOW_AMT_V0108","Q_PA_FRQ"]]

,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ
0,1.0,NaN,1.0,NaN,1.0
1,1.0,NaN,1.0,NaN,2.0
2,1.0,NaN,1.0,NaN,2.0
3,2.0,2.0,1.0,NaN,1.0
4,2.0,2.0,3.0,2.0,1.0
...,...,...,...,...,...
1046,3.0,4.0,2.0,NaN,1.0
1047,3.0,3.0,2.0,NaN,1.0
1048,1.0,NaN,1.0,NaN,1.0
1049,1.0,NaN,1.0,NaN,5.0
1050,3.0,1.0,1.0,NaN,2.0

- null 제거

In [176]:
merge_data.isnull().sum()

EXMD_BZ_YYYY             0
RN_INDI                  0
HME_YYYYMM               0
Q_FHX_HTN                0
Q_FHX_STK                0
Q_FHX_HTDZ               0
Q_FHX_DM                 0
Q_FHX_CC                 0
Q_DRK_FRQ_V0108         39
Q_DRK_AMT_V0108        486
Q_SMK_YN                46
Q_SMK_NOW_AMT_V0108    791
Q_PA_FRQ                38
G1E_BMI                  0
Q_PHX_DX_STK             0
Q_PHX_DX_HTDZ            0
Q_PHX_DX_HTN             0
Q_PHX_DX_DM              0
Q_PHX_DX_PTB             0
Q_PHX_DX_ETC             0
dtype: int64

In [177]:
merge_data["Q_DRK_FRQ_V0108"][merge_data["Q_DRK_FRQ_V0108"].isnull()]

46    NaN
68    NaN
76    NaN
115   NaN
124   NaN
132   NaN
188   NaN
191   NaN
380   NaN
512   NaN
542   NaN
569   NaN
589   NaN
594   NaN
597   NaN
636   NaN
695   NaN
724   NaN
725   NaN
726   NaN
738   NaN
758   NaN
759   NaN
875   NaN
901   NaN
905   NaN
918   NaN
919   NaN
921   NaN
924   NaN
927   NaN
931   NaN
934   NaN
936   NaN
938   NaN
958   NaN
962   NaN
963   NaN
966   NaN
Name: Q_DRK_FRQ_V0108, dtype: float64

In [178]:
merge_data["Q_DRK_FRQ_V0108"]=merge_data["Q_DRK_FRQ_V0108"].fillna(int(mode(merge_data["Q_DRK_FRQ_V0108"],nan_policy="omit")[0]))

In [ ]:
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==1] = merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==1].fillna(int(mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==1],nan_policy="omit")[0]))
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==2] = merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==2].fillna(int(mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==2],nan_policy="omit")[0]))
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==3] = merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==3].fillna(int(mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==3],nan_policy="omit")[0]))
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==4] = merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==4].fillna(int(mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==4],nan_policy="omit")[0]))
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==5] = merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==5].fillna(int(mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==5],nan_policy="omit")[0]))

In [180]:
mode(merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_FRQ_V0108"]==5],nan_policy="omit")

ModeResult(mode=array([1.]), count=array([9]))

In [ ]:
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_AMT_V0108"]==0]=1

In [182]:
merge_data["Q_DRK_FRQ_V0108"][46]

1.0

In [183]:
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_DRK_AMT_V0108"].isnull()]

Series([], Name: Q_DRK_AMT_V0108, dtype: float64)

In [184]:
merge_data["Q_SMK_YN"]=merge_data["Q_SMK_YN"].fillna(int(mode(merge_data["Q_SMK_YN"],nan_policy="omit")[0]))

In [ ]:
merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==1]=merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==1].fillna(int(mode(merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==1],nan_policy="omit")[0]))
merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==2]=merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==2].fillna(int(mode(merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==2],nan_policy="omit")[0]))
merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==3]=merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==3].fillna(int(mode(merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==3],nan_policy="omit")[0]))

In [ ]:
merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==1]=0
merge_data["Q_SMK_NOW_AMT_V0108"][merge_data["Q_SMK_YN"]==2]=0

In [187]:
merge_data["Q_PA_FRQ"]=merge_data["Q_PA_FRQ"].fillna(int(mode(merge_data["Q_PA_FRQ"],nan_policy="omit")[0]))

In [188]:
merge_data.isnull().sum()

EXMD_BZ_YYYY           0
RN_INDI                0
HME_YYYYMM             0
Q_FHX_HTN              0
Q_FHX_STK              0
Q_FHX_HTDZ             0
Q_FHX_DM               0
Q_FHX_CC               0
Q_DRK_FRQ_V0108        0
Q_DRK_AMT_V0108        0
Q_SMK_YN               0
Q_SMK_NOW_AMT_V0108    0
Q_PA_FRQ               0
G1E_BMI                0
Q_PHX_DX_STK           0
Q_PHX_DX_HTDZ          0
Q_PHX_DX_HTN           0
Q_PHX_DX_DM            0
Q_PHX_DX_PTB           0
Q_PHX_DX_ETC           0
dtype: int64

In [189]:
merge_data[["Q_SMK_YN","Q_SMK_NOW_AMT_V0108","Q_PA_FRQ","Q_DRK_AMT_V0108","Q_DRK_FRQ_V0108"]]

,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,Q_DRK_AMT_V0108,Q_DRK_FRQ_V0108
0,1.0,0.0,1.0,1.0,1.0
1,1.0,0.0,2.0,1.0,1.0
2,1.0,0.0,2.0,1.0,1.0
3,1.0,0.0,1.0,2.0,2.0
4,3.0,2.0,1.0,2.0,2.0
...,...,...,...,...,...
1046,2.0,0.0,1.0,4.0,3.0
1047,2.0,0.0,1.0,3.0,3.0
1048,1.0,0.0,1.0,1.0,1.0
1049,1.0,0.0,5.0,1.0,1.0
1050,1.0,0.0,2.0,1.0,3.0

In [190]:
merge_data["Q_SMK_YN"]=merge_data["Q_SMK_YN"].astype("int")
merge_data["Q_SMK_NOW_AMT_V0108"]=merge_data["Q_SMK_NOW_AMT_V0108"].astype("int")
merge_data["Q_PA_FRQ"]=merge_data["Q_PA_FRQ"].astype("int")
merge_data["Q_DRK_AMT_V0108"]=merge_data["Q_DRK_AMT_V0108"].astype("int")
merge_data["Q_DRK_FRQ_V0108"]=merge_data["Q_DRK_FRQ_V0108"].astype("int")

In [191]:
merge_data["Q_DRK_AMT_V0108"][merge_data["Q_SMK_YN"]==1]

0       1
1       1
2       1
3       2
7       1
       ..
1044    1
1045    1
1048    1
1049    1
1050    1
Name: Q_DRK_AMT_V0108, Length: 663, dtype: int32

In [192]:
merge_data[["Q_SMK_YN","Q_SMK_NOW_AMT_V0108","Q_PA_FRQ","Q_DRK_AMT_V0108","Q_DRK_FRQ_V0108"]]

,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,Q_DRK_AMT_V0108,Q_DRK_FRQ_V0108
0,1,0,1,1,1
1,1,0,2,1,1
2,1,0,2,1,1
3,1,0,1,2,2
4,3,2,1,2,2
...,...,...,...,...,...
1046,2,0,1,4,3
1047,2,0,1,3,3
1048,1,0,1,1,1
1049,1,0,5,1,1
1050,1,0,2,1,3

In [193]:
merge_data.columns

Index(['EXMD_BZ_YYYY', 'RN_INDI', 'HME_YYYYMM', 'Q_FHX_HTN', 'Q_FHX_STK',
       'Q_FHX_HTDZ', 'Q_FHX_DM', 'Q_FHX_CC', 'Q_DRK_FRQ_V0108',
       'Q_DRK_AMT_V0108', 'Q_SMK_YN', 'Q_SMK_NOW_AMT_V0108', 'Q_PA_FRQ',
       'G1E_BMI', 'Q_PHX_DX_STK', 'Q_PHX_DX_HTDZ', 'Q_PHX_DX_HTN',
       'Q_PHX_DX_DM', 'Q_PHX_DX_PTB', 'Q_PHX_DX_ETC'],
      dtype='object')

In [194]:
merge_data["G1E_BMI"][:20]

0     23.2
1     29.4
2     23.4
3     25.6
4     29.7
5     25.1
6     25.5
7     22.4
8     22.2
9     20.6
10    19.5
11    25.8
12    22.5
13    19.8
14    23.8
15    22.0
16    24.8
17    24.8
18    24.7
19    29.4
Name: G1E_BMI, dtype: float64

In [ ]:
merge_data["G1E_BMI"][merge_data["G1E_BMI"]<= 18.5] = 0
merge_data["G1E_BMI"][(merge_data["G1E_BMI"]<= 25.0) & (merge_data["G1E_BMI"]>18.5)] = 1
merge_data["G1E_BMI"][(merge_data["G1E_BMI"]<= 30.0) & (merge_data["G1E_BMI"]>25.0)] = 2
merge_data["G1E_BMI"][merge_data["G1E_BMI"]> 30.0] = 3

In [196]:
merge_data["G1E_BMI"]=merge_data["G1E_BMI"].astype("int")

In [197]:
merge_data["G1E_BMI"]

0       1
1       2
2       1
3       2
4       2
       ..
1046    1
1047    2
1048    1
1049    1
1050    3
Name: G1E_BMI, Length: 1051, dtype: int32

In [198]:
merge_data.rename(columns={'Q_FHX_CC':'Q_FHX_ETC'},inplace=True)

In [199]:
merge_data.columns

Index(['EXMD_BZ_YYYY', 'RN_INDI', 'HME_YYYYMM', 'Q_FHX_HTN', 'Q_FHX_STK',
       'Q_FHX_HTDZ', 'Q_FHX_DM', 'Q_FHX_ETC', 'Q_DRK_FRQ_V0108',
       'Q_DRK_AMT_V0108', 'Q_SMK_YN', 'Q_SMK_NOW_AMT_V0108', 'Q_PA_FRQ',
       'G1E_BMI', 'Q_PHX_DX_STK', 'Q_PHX_DX_HTDZ', 'Q_PHX_DX_HTN',
       'Q_PHX_DX_DM', 'Q_PHX_DX_PTB', 'Q_PHX_DX_ETC'],
      dtype='object')

- 건강검진테이블2 전처리

In [200]:
modify_screening2_data=modify_screening2_data[["EXMD_BZ_YYYY","RN_INDI","HME_YYYYMM","Q_FHX_HTN","Q_FHX_STK","Q_FHX_HTDZ","Q_FHX_DM","Q_FHX_ETC",
                 "Q_SMK_YN","Q_SMK_NOW_AMT_V09N","Q_DRK_FRQ_V09N","Q_DRK_AMT_V09N",
                 "Q_PA_VD","Q_PA_MD","Q_PA_WALK","G1E_BMI","Q_PHX_DX_STK","Q_PHX_DX_HTDZ","Q_PHX_DX_HTN","Q_PHX_DX_DM","Q_PHX_DX_PTB","Q_PHX_DX_ETC"]]

In [201]:
len(modify_screening2_data)

1644

In [202]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY             0
RN_INDI                  0
HME_YYYYMM               0
Q_FHX_HTN              515
Q_FHX_STK              556
Q_FHX_HTDZ             553
Q_FHX_DM               534
Q_FHX_ETC              530
Q_SMK_YN                 2
Q_SMK_NOW_AMT_V09N    1257
Q_DRK_FRQ_V09N           6
Q_DRK_AMT_V09N         643
Q_PA_VD                  4
Q_PA_MD                  3
Q_PA_WALK                4
G1E_BMI                  0
Q_PHX_DX_STK           573
Q_PHX_DX_HTDZ          566
Q_PHX_DX_HTN           492
Q_PHX_DX_DM            547
Q_PHX_DX_PTB           703
Q_PHX_DX_ETC           560
dtype: int64

In [203]:
len(modify_screening2_data.columns)

22

- 흡연 관련결측치 제거

In [204]:
modify_screening2_data["Q_FHX_HTN"] = modify_screening2_data["Q_FHX_HTN"].fillna(0)
modify_screening2_data["Q_FHX_STK"] = modify_screening2_data["Q_FHX_STK"].fillna(0)
modify_screening2_data["Q_FHX_HTDZ"] = modify_screening2_data["Q_FHX_HTDZ"].fillna(0)
modify_screening2_data["Q_FHX_DM"] = modify_screening2_data["Q_FHX_DM"].fillna(0)
modify_screening2_data["Q_FHX_ETC"] = modify_screening2_data["Q_FHX_ETC"].fillna(0)

In [205]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY             0
RN_INDI                  0
HME_YYYYMM               0
Q_FHX_HTN                0
Q_FHX_STK                0
Q_FHX_HTDZ               0
Q_FHX_DM                 0
Q_FHX_ETC                0
Q_SMK_YN                 2
Q_SMK_NOW_AMT_V09N    1257
Q_DRK_FRQ_V09N           6
Q_DRK_AMT_V09N         643
Q_PA_VD                  4
Q_PA_MD                  3
Q_PA_WALK                4
G1E_BMI                  0
Q_PHX_DX_STK           573
Q_PHX_DX_HTDZ          566
Q_PHX_DX_HTN           492
Q_PHX_DX_DM            547
Q_PHX_DX_PTB           703
Q_PHX_DX_ETC           560
dtype: int64

In [206]:
modify_screening2_data[["Q_SMK_YN","Q_SMK_NOW_AMT_V09N"]][modify_screening2_data["Q_SMK_YN"].isnull()]

     Q_SMK_YN  Q_SMK_NOW_AMT_V09N
95        NaN                 NaN
112       NaN                 NaN

In [207]:
modify_screening2_data["Q_SMK_YN"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1639    2.0
1640    2.0
1641    2.0
1642    2.0
1643    2.0
Name: Q_SMK_YN, Length: 1644, dtype: float64

In [208]:
modify_screening2_data["Q_SMK_YN"].value_counts()

1.0    995
3.0    391
2.0    256
Name: Q_SMK_YN, dtype: int64

In [209]:
modify_screening2_data["Q_SMK_YN"]=modify_screening2_data["Q_SMK_YN"].fillna(int(mode(modify_screening2_data["Q_SMK_YN"],nan_policy="omit")[0]))

In [210]:
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][(modify_screening2_data["Q_SMK_YN"]==3)&(modify_screening2_data["Q_SMK_NOW_AMT_V09N"].isnull())]

140   NaN
165   NaN
376   NaN
571   NaN
Name: Q_SMK_NOW_AMT_V09N, dtype: float64

In [211]:
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][modify_screening2_data["Q_SMK_YN"]==1] = 0
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][modify_screening2_data["Q_SMK_YN"]==2] = 0

C:\Users\tlsgh\anaconda3\envs\osaesg\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\tlsgh\anaconda3\envs\osaesg\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [212]:
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][(modify_screening2_data["Q_SMK_YN"]==3)&(modify_screening2_data["Q_SMK_NOW_AMT_V09N"].isnull())] = 10.0

C:\Users\tlsgh\anaconda3\envs\osaesg\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [213]:
set(modify_screening2_data["Q_SMK_NOW_AMT_V09N"])

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 15.0,
 17.0,
 18.0,
 20.0,
 22.0,
 25.0,
 30.0,
 35.0,
 37.0,
 40.0,
 50.0}

In [214]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY            0
RN_INDI                 0
HME_YYYYMM              0
Q_FHX_HTN               0
Q_FHX_STK               0
Q_FHX_HTDZ              0
Q_FHX_DM                0
Q_FHX_ETC               0
Q_SMK_YN                0
Q_SMK_NOW_AMT_V09N      0
Q_DRK_FRQ_V09N          6
Q_DRK_AMT_V09N        643
Q_PA_VD                 4
Q_PA_MD                 3
Q_PA_WALK               4
G1E_BMI                 0
Q_PHX_DX_STK          573
Q_PHX_DX_HTDZ         566
Q_PHX_DX_HTN          492
Q_PHX_DX_DM           547
Q_PHX_DX_PTB          703
Q_PHX_DX_ETC          560
dtype: int64

- 음주 관련결측치 제거

In [215]:
modify_screening2_data["Q_DRK_FRQ_V09N"]=modify_screening2_data["Q_DRK_FRQ_V09N"].fillna(int(mode(modify_screening2_data["Q_DRK_FRQ_V09N"],nan_policy="omit")[0]))

In [ ]:
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==0]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==0].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==0],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==1]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==1].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==1],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==2]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==2].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==2],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==3]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==3].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==3],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==4]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==4].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==4],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==5]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==5].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==5],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==6]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==6].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==6],nan_policy="omit")[0]))
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==7]=modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==7].fillna(int(mode(modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_FRQ_V09N"]==7],nan_policy="omit")[0]))

In [217]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY            0
RN_INDI                 0
HME_YYYYMM              0
Q_FHX_HTN               0
Q_FHX_STK               0
Q_FHX_HTDZ              0
Q_FHX_DM                0
Q_FHX_ETC               0
Q_SMK_YN                0
Q_SMK_NOW_AMT_V09N      0
Q_DRK_FRQ_V09N          0
Q_DRK_AMT_V09N          0
Q_PA_VD                 4
Q_PA_MD                 3
Q_PA_WALK               4
G1E_BMI                 0
Q_PHX_DX_STK          573
Q_PHX_DX_HTDZ         566
Q_PHX_DX_HTN          492
Q_PHX_DX_DM           547
Q_PHX_DX_PTB          703
Q_PHX_DX_ETC          560
dtype: int64

- 운동 전처리

In [218]:
modify_screening2_data["Q_PA_VD"]=modify_screening2_data["Q_PA_VD"].fillna(int(mode(modify_screening2_data["Q_PA_VD"],nan_policy="omit")[0]))
modify_screening2_data["Q_PA_MD"]=modify_screening2_data["Q_PA_MD"].fillna(int(mode(modify_screening2_data["Q_PA_MD"],nan_policy="omit")[0]))
modify_screening2_data["Q_PA_WALK"]=modify_screening2_data["Q_PA_WALK"].fillna(int(mode(modify_screening2_data["Q_PA_WALK"],nan_policy="omit")[0]))

In [219]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY            0
RN_INDI                 0
HME_YYYYMM              0
Q_FHX_HTN               0
Q_FHX_STK               0
Q_FHX_HTDZ              0
Q_FHX_DM                0
Q_FHX_ETC               0
Q_SMK_YN                0
Q_SMK_NOW_AMT_V09N      0
Q_DRK_FRQ_V09N          0
Q_DRK_AMT_V09N          0
Q_PA_VD                 0
Q_PA_MD                 0
Q_PA_WALK               0
G1E_BMI                 0
Q_PHX_DX_STK          573
Q_PHX_DX_HTDZ         566
Q_PHX_DX_HTN          492
Q_PHX_DX_DM           547
Q_PHX_DX_PTB          703
Q_PHX_DX_ETC          560
dtype: int64

In [220]:
modify_screening2_data["Q_PHX_DX_STK"]=modify_screening2_data["Q_PHX_DX_STK"].fillna(0)
modify_screening2_data["Q_PHX_DX_HTDZ"]=modify_screening2_data["Q_PHX_DX_HTDZ"].fillna(0)
modify_screening2_data["Q_PHX_DX_HTN"]=modify_screening2_data["Q_PHX_DX_HTN"].fillna(0)
modify_screening2_data["Q_PHX_DX_DM"]=modify_screening2_data["Q_PHX_DX_DM"].fillna(0)
modify_screening2_data["Q_PHX_DX_PTB"]=modify_screening2_data["Q_PHX_DX_PTB"].fillna(0)
modify_screening2_data["Q_PHX_DX_ETC"]=modify_screening2_data["Q_PHX_DX_ETC"].fillna(0)

In [221]:
modify_screening2_data.isnull().sum()

EXMD_BZ_YYYY          0
RN_INDI               0
HME_YYYYMM            0
Q_FHX_HTN             0
Q_FHX_STK             0
Q_FHX_HTDZ            0
Q_FHX_DM              0
Q_FHX_ETC             0
Q_SMK_YN              0
Q_SMK_NOW_AMT_V09N    0
Q_DRK_FRQ_V09N        0
Q_DRK_AMT_V09N        0
Q_PA_VD               0
Q_PA_MD               0
Q_PA_WALK             0
G1E_BMI               0
Q_PHX_DX_STK          0
Q_PHX_DX_HTDZ         0
Q_PHX_DX_HTN          0
Q_PHX_DX_DM           0
Q_PHX_DX_PTB          0
Q_PHX_DX_ETC          0
dtype: int64

- 운동 횟수 건강검지1이랑 값 맞추기

In [222]:
modify_screening2_data[["Q_PA_MD","Q_PA_VD","Q_PA_WALK"]]

      Q_PA_MD  Q_PA_VD  Q_PA_WALK
0         0.0      0.0        0.0
1         0.0      0.0        0.0
2         0.0      0.0        0.0
3         0.0      0.0        0.0
4         0.0      0.0        0.0
...       ...      ...        ...
1639      2.0      2.0        2.0
1640      1.0      1.0        1.0
1641      0.0      0.0        0.0
1642      2.0      3.0        2.0
1643      0.0      0.0        5.0

[1644 rows x 3 columns]

In [223]:
modify_screening2_data["Q_PA_MD"]+modify_screening2_data["Q_PA_VD"]+modify_screening2_data["Q_PA_WALK"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1639    6.0
1640    3.0
1641    0.0
1642    7.0
1643    5.0
Length: 1644, dtype: float64

In [224]:
modify_screening2_data["Q_PA_FRQ"]=modify_screening2_data["Q_PA_MD"]+modify_screening2_data["Q_PA_VD"]+modify_screening2_data["Q_PA_WALK"]

In [225]:
modify_screening2_data["Q_PA_FRQ"] = modify_screening2_data["Q_PA_FRQ"].astype("int")

In [ ]:
for idx, freq in enumerate(modify_screening2_data["Q_PA_FRQ"]):
    if freq == 0:modify_screening2_data["Q_PA_FRQ"][idx] = 1
    elif freq == 1:modify_screening2_data["Q_PA_FRQ"][idx] = 2
    elif freq == 2:modify_screening2_data["Q_PA_FRQ"][idx] = 2
    elif freq == 3:modify_screening2_data["Q_PA_FRQ"][idx] = 3
    elif freq == 4:modify_screening2_data["Q_PA_FRQ"][idx] = 3
    elif freq == 5:modify_screening2_data["Q_PA_FRQ"][idx] = 4
    elif freq == 6:modify_screening2_data["Q_PA_FRQ"][idx] = 4
    elif freq >= 7:modify_screening2_data["Q_PA_FRQ"][idx] = 5

In [227]:
modify_screening2_data["Q_PA_FRQ"]

0       1
1       1
2       1
3       1
4       1
       ..
1639    4
1640    3
1641    1
1642    5
1643    4
Name: Q_PA_FRQ, Length: 1644, dtype: int32

In [228]:
modify_screening2_data.drop(["Q_PA_VD","Q_PA_MD","Q_PA_WALK"],axis=1,inplace=True)

In [229]:
modify_screening2_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_ETC,Q_SMK_YN,Q_SMK_NOW_AMT_V09N,Q_DRK_FRQ_V09N,Q_DRK_AMT_V09N,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC,Q_PA_FRQ
0,2009,562083,200909,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,29.4,0.0,0.0,1.0,0.0,0.0,0.0,1
1,2009,334536,200911,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,19.4,0.0,0.0,0.0,0.0,0.0,0.0,1
2,2009,911867,200903,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,24.5,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2009,183321,200908,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,22.1,0.0,0.0,0.0,0.0,0.0,0.0,1
4,2009,942671,200909,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,19.8,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,2015,266734,201504,0.0,0.0,0.0,0.0,1.0,2.0,0.0,2.0,10.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,4
1640,2015,343874,201511,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,1.0,0.0,0.0,3
1641,2015,798472,201507,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,23.7,0.0,0.0,0.0,0.0,0.0,0.0,1
1642,2015,720080,201505,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,7.0,25.7,0.0,0.0,0.0,0.0,0.0,0.0,5
1643,2015,127519,201511,0.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,14.0,29.8,0.0,0.0,1.0,0.0,0.0,0.0,4

- bmi 건강검진1이랑 값 맞추기

In [ ]:
modify_screening2_data["G1E_BMI"][modify_screening2_data["G1E_BMI"]<= 18.5] = 0
modify_screening2_data["G1E_BMI"][(modify_screening2_data["G1E_BMI"]<= 25.0) & (modify_screening2_data["G1E_BMI"]>18.5)] = 1
modify_screening2_data["G1E_BMI"][(modify_screening2_data["G1E_BMI"]<= 30.0) & (modify_screening2_data["G1E_BMI"]>25.0)] = 2
modify_screening2_data["G1E_BMI"][modify_screening2_data["G1E_BMI"]> 30.0] = 3

In [231]:
modify_screening2_data["G1E_BMI"]

0       2.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
1639    2.0
1640    1.0
1641    1.0
1642    2.0
1643    2.0
Name: G1E_BMI, Length: 1644, dtype: float64

In [232]:
modify_screening2_data["G1E_BMI"] =modify_screening2_data["G1E_BMI"].astype("int")

- 흡연관련 데이터 건강검진1이랑 값 맞추기

In [233]:
set(modify_screening2_data["Q_SMK_NOW_AMT_V09N"])

{0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 15.0,
 17.0,
 18.0,
 20.0,
 22.0,
 25.0,
 30.0,
 35.0,
 37.0,
 40.0,
 50.0}

In [ ]:
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]>=1)&(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]<10)] = 1
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]>=10)&(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]<20)] = 2
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]>=20)&(modify_screening2_data["Q_SMK_NOW_AMT_V09N"]<40)] = 3
modify_screening2_data["Q_SMK_NOW_AMT_V09N"][modify_screening2_data["Q_SMK_NOW_AMT_V09N"]>= 40.0] = 4

- 음주관련 데이터 건강검진1과 맞추기

In [235]:
modify_screening2_data["Q_DRK_AMT_V09N"].value_counts()

0.0     759
7.0     130
3.0     127
10.0    123
2.0     102
5.0      88
1.0      84
4.0      70
6.0      41
8.0      38
14.0     23
20.0     17
15.0     14
12.0      8
16.0      8
30.0      3
13.0      3
9.0       2
21.0      1
24.0      1
27.0      1
17.0      1
Name: Q_DRK_AMT_V09N, dtype: int64

In [ ]:
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_AMT_V09N"]<=4]=1
modify_screening2_data["Q_DRK_AMT_V09N"][(modify_screening2_data["Q_DRK_AMT_V09N"]>4)&(modify_screening2_data["Q_DRK_AMT_V09N"]<=7)]=2
modify_screening2_data["Q_DRK_AMT_V09N"][(modify_screening2_data["Q_DRK_AMT_V09N"]>7)&(modify_screening2_data["Q_DRK_AMT_V09N"]<=11)]=3
modify_screening2_data["Q_DRK_AMT_V09N"][modify_screening2_data["Q_DRK_AMT_V09N"]>11]=4

In [237]:
modify_screening2_data["Q_DRK_AMT_V09N"] = modify_screening2_data["Q_DRK_AMT_V09N"].astype("int")

In [ ]:
for idx, freq in enumerate(modify_screening2_data["Q_DRK_FRQ_V09N"]):
    if freq == 0:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 1
    elif freq == 1:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 1
    elif freq == 2:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 2
    elif freq == 3:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 4
    elif freq == 4:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 4
    elif freq == 5:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 5
    elif freq == 6:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 5
    elif freq >= 7:modify_screening2_data["Q_DRK_FRQ_V09N"][idx] = 5

- 건강검진1에 맞게 변수명 바꾸기

In [239]:
modify_screening2_data.rename(columns={"Q_SMK_NOW_AMT_V09N":"Q_SMK_NOW_AMT_V0108","Q_DRK_FRQ_V09N":"Q_DRK_FRQ_V0108","Q_DRK_AMT_V09N":"Q_DRK_AMT_V0108"},inplace=True)

In [240]:
for col,item in modify_screening2_data.iteritems():
    print(col)
print('\n')
for col,item in merge_data.iteritems():
    print(col)

EXMD_BZ_YYYY
RN_INDI
HME_YYYYMM
Q_FHX_HTN
Q_FHX_STK
Q_FHX_HTDZ
Q_FHX_DM
Q_FHX_ETC
Q_SMK_YN
Q_SMK_NOW_AMT_V0108
Q_DRK_FRQ_V0108
Q_DRK_AMT_V0108
G1E_BMI
Q_PHX_DX_STK
Q_PHX_DX_HTDZ
Q_PHX_DX_HTN
Q_PHX_DX_DM
Q_PHX_DX_PTB
Q_PHX_DX_ETC
Q_PA_FRQ


EXMD_BZ_YYYY
RN_INDI
HME_YYYYMM
Q_FHX_HTN
Q_FHX_STK
Q_FHX_HTDZ
Q_FHX_DM
Q_FHX_ETC
Q_DRK_FRQ_V0108
Q_DRK_AMT_V0108
Q_SMK_YN
Q_SMK_NOW_AMT_V0108
Q_PA_FRQ
G1E_BMI
Q_PHX_DX_STK
Q_PHX_DX_HTDZ
Q_PHX_DX_HTN
Q_PHX_DX_DM
Q_PHX_DX_PTB
Q_PHX_DX_ETC

In [241]:
merge_data = merge_data.astype("int")

In [242]:
modify_screening2_data = modify_screening2_data.astype("int")

In [243]:
for col,item in modify_screening2_data.iteritems():
    print(col)
    print(set(item))

for col,item in merge_data.iteritems():
    print(col)
    print(set(item))

EXMD_BZ_YYYY
{2009, 2010, 2011, 2012, 2013, 2014, 2015}
RN_INDI
{294913, 829452, 145424, 964637, 587805, 665633, 495650, 92198, 706602, 825387, 215084, 370738, 38967, 301124, 680010, 335948, 815191, 245849, 606303, 305256, 354421, 725112, 628858, 942204, 909438, 166015, 741504, 739454, 297087, 383109, 948365, 483473, 979090, 237719, 26776, 403607, 92313, 321692, 473250, 4263, 688302, 948405, 336055, 637115, 446652, 764100, 356551, 393421, 727245, 979151, 626896, 839897, 483546, 2270, 346335, 698594, 897251, 96484, 6374, 889062, 884968, 637160, 149741, 194801, 674034, 51442, 768249, 153851, 874754, 663811, 753924, 219397, 559370, 999693, 47374, 762129, 915731, 975124, 334101, 860440, 882980, 870692, 422180, 397613, 874800, 39217, 262452, 559420, 848190, 452930, 921924, 553285, 444740, 418137, 364892, 41309, 84322, 606567, 80234, 934252, 483693, 88450, 344450, 416133, 637320, 717196, 688532, 45461, 911766, 285079, 321944, 582044, 979358, 518558, 49567, 686497, 760226, 532905, 166324, 264628, 793017, 817595, 356798, 874943, 752067, 84427, 182741, 676313, 633307, 414177, 266734, 125422, 211438, 53748, 690677, 674294, 692726, 279031, 233974, 911867, 211452, 145918, 946687, 995838, 395781, 985608, 979469, 784916, 430621, 418334, 127519, 377375, 303645, 82470, 530990, 782896, 592434, 4664, 447033, 231997, 586305, 889412, 598598, 819784, 942671, 737871, 811603, 27226, 322147, 393830, 383603, 582270, 950911, 479874, 199298, 107142, 670343, 518792, 627341, 590480, 121496, 225956, 354989, 17079, 299704, 432825, 756414, 334536, 416462, 621264, 277202, 725720, 490204, 330466, 549602, 633585, 60147, 801526, 570104, 391933, 699142, 422663, 387855, 668438, 68379, 326432, 461601, 230178, 512815, 60216, 314169, 260923, 611137, 123714, 934726, 344905, 394061, 203606, 944984, 27490, 830306, 160611, 570215, 584556, 934772, 985972, 908152, 367481, 66424, 951170, 347014, 691082, 375694, 836494, 525200, 437139, 506774, 203673, 562083, 641955, 267185, 195513, 56250, 318399, 1010623, 680897, 177099, 238542, 611279, 265168, 738257, 82901, 9175, 715739, 701404, 562142, 572384, 347108, 390119, 531439, 316400, 326639, 437237, 502784, 519172, 674823, 248846, 752655, 900114, 582676, 183321, 492570, 771097, 463902, 814115, 916515, 693283, 750632, 154665, 486441, 468010, 435246, 914480, 773168, 459837, 365630, 302146, 138307, 324678, 130119, 775244, 572493, 326742, 412761, 466014, 115809, 883814, 924778, 359531, 828529, 242807, 345207, 554112, 652416, 23682, 781445, 572549, 887943, 535689, 803990, 46233, 498848, 146593, 134307, 138407, 986287, 750776, 146621, 332997, 814279, 318669, 435405, 607439, 720080, 91351, 7386, 781532, 126173, 623836, 797920, 367840, 85219, 412901, 386280, 107753, 13546, 875758, 42231, 185597, 593157, 197894, 992522, 224527, 105746, 316695, 140568, 58649, 529690, 242976, 226594, 183606, 660791, 480569, 163129, 517447, 613708, 585046, 118108, 210270, 79207, 793962, 357738, 243053, 550255, 177527, 599419, 839037, 877959, 775563, 77197, 394639, 880016, 79250, 144786, 591253, 480668, 306589, 834975, 628127, 802213, 501161, 888234, 929195, 701869, 593325, 898484, 538038, 122296, 724414, 892360, 859599, 212433, 554452, 441816, 962008, 824794, 734700, 941551, 421359, 888305, 515572, 204278, 763384, 97785, 230908, 179714, 699907, 814600, 925195, 376332, 548365, 792082, 808467, 79379, 749074, 491031, 218649, 904730, 46621, 194080, 568865, 914987, 411180, 558657, 396870, 179785, 5707, 99917, 153174, 742999, 554585, 120410, 126561, 83553, 3690, 284267, 484978, 478840, 335484, 9866, 370314, 444042, 259727, 519824, 849556, 181909, 497301, 149142, 558741, 597659, 720544, 777889, 661154, 335520, 56993, 790184, 431791, 695991, 868027, 853696, 1005250, 196293, 247493, 353996, 198350, 87762, 186069, 573141, 970458, 317148, 302816, 689889, 427754, 560878, 663279, 136945, 642807, 487160, 976635, 102141, 718591, 347907, 98052, 315140, 798472, 714509, 364304, 481042, 917270, 69398, 128799, 532261, 827174, 440107, 669498, 300860, 102206, 163650, 325443, 694083, 343874, 657227, 978767, 835408, 642899, 925523, 161624, 671580, 913247, 114537, 36714, 831349, 886653, 698245, 860038, 974726, 468872, 112523, 602007, 122776, 720792, 30622, 71582, 747424, 776098, 1009573, 995240, 540586, 227244, 606125, 266165, 733109, 311226, 204730, 716732, 913340, 182208, 876492, 546772, 290774, 872410, 161754, 909278, 952290, 440295, 778228, 716799}
HME_YYYYMM
{201301, 201302, 201303, 201304, 201305, 201306, 201307, 201308, 201309, 201310, 201311, 201312, 201401, 201402, 201403, 201404, 201405, 201406, 201407, 201408, 201409, 201410, 201411, 201412, 200901, 200902, 200903, 200904, 200905, 200906, 200907, 200908, 200909, 200910, 200911, 200912, 201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201001, 201002, 201003, 201004, 201005, 201006, 201007, 201008, 201009, 201010, 201011, 201012, 201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109, 201110, 201111, 201112, 201201, 201202, 201203, 201204, 201205, 201206, 201207, 201208, 201209, 201210, 201211, 201212}
Q_FHX_HTN
{0, 1}
Q_FHX_STK
{0, 1}
Q_FHX_HTDZ
{0, 1}
Q_FHX_DM
{0, 1}
Q_FHX_ETC
{0, 1}
Q_SMK_YN
{1, 2, 3}
Q_SMK_NOW_AMT_V0108
{0, 1, 2, 3, 4}
Q_DRK_FRQ_V0108
{1, 2, 4, 5}
Q_DRK_AMT_V0108
{1, 2, 3, 4}
G1E_BMI
{0, 1, 2, 3}
Q_PHX_DX_STK
{0, 1}
Q_PHX_DX_HTDZ
{0, 1}
Q_PHX_DX_HTN
{0, 1}
Q_PHX_DX_DM
{0, 1}
Q_PHX_DX_PTB
{0, 1}
Q_PHX_DX_ETC
{0, 1}
Q_PA_FRQ
{1, 2, 3, 4, 5}
EXMD_BZ_YYYY
{2002, 2003, 2004, 2005, 2006, 2007, 2008}
RN_INDI
{964637, 665633, 495650, 706602, 825387, 215084, 370738, 38967, 680010, 335948, 245849, 606303, 358502, 354421, 725112, 628858, 741504, 383109, 948365, 483473, 237719, 26776, 403607, 805018, 321692, 473250, 329890, 4263, 688302, 948405, 637115, 446652, 979151, 626896, 483546, 346335, 698594, 897251, 96484, 6374, 884968, 637160, 149741, 194801, 674034, 768249, 153851, 874754, 663811, 753924, 219397, 559370, 971021, 999693, 915731, 975124, 882980, 422180, 397613, 874800, 39217, 262452, 956735, 921924, 418137, 84322, 606567, 80234, 88450, 416133, 637320, 717196, 688532, 45461, 321944, 518558, 979358, 686497, 166324, 264628, 793017, 874943, 752067, 182741, 676313, 633307, 266734, 125422, 53748, 690677, 692726, 674294, 279031, 911867, 211452, 395781, 985608, 430621, 127519, 377375, 631331, 82470, 530990, 782896, 592434, 4664, 447033, 971325, 598598, 819784, 942671, 737871, 27226, 322147, 393830, 356971, 950911, 479874, 518792, 627341, 590480, 225956, 354989, 17079, 299704, 432825, 756414, 334536, 621264, 330466, 633585, 60147, 391933, 699142, 422663, 387855, 668438, 68379, 326432, 230178, 60216, 314169, 736057, 260923, 791353, 611137, 123714, 840515, 344905, 394061, 475986, 944984, 27490, 160611, 985972, 934772, 908152, 375694, 525200, 437139, 203673, 641955, 562083, 267185, 195513, 56250, 144317, 318399, 814015, 680897, 238542, 738257, 9175, 715739, 701404, 572384, 347108, 390119, 541685, 437237, 627701, 748540, 519172, 674823, 752655, 900114, 582676, 183321, 492570, 463902, 814115, 693283, 916515, 750632, 486441, 914480, 459837, 365630, 324678, 130119, 291910, 775244, 572493, 412761, 466014, 115809, 924778, 828529, 242807, 707707, 23682, 781445, 887943, 535689, 421007, 803990, 46233, 498848, 146593, 134307, 138407, 986287, 332997, 814279, 318669, 435405, 720080, 7386, 623836, 126173, 781532, 797920, 367840, 85219, 412901, 386280, 107753, 875758, 42231, 185597, 197894, 992522, 105746, 140568, 529690, 242976, 660791, 480569, 517447, 613708, 585046, 79207, 793962, 443755, 243053, 550255, 599419, 540028, 877959, 775563, 505228, 77197, 157073, 144786, 79250, 933265, 480668, 306589, 591264, 802213, 501161, 888234, 929195, 898484, 122296, 437697, 507330, 892360, 859599, 212433, 554452, 441816, 363994, 824794, 234977, 167400, 734700, 941551, 364020, 204278, 763384, 179714, 699907, 814600, 925195, 376332, 749074, 808467, 79379, 491031, 218649, 46621, 194080, 568865, 411180, 179785, 5707, 99917, 554585, 120410, 126561, 83553, 284267, 484978, 478840, 370314, 259727, 497301, 149142, 181909, 870041, 597659, 335520, 56993, 661154, 777889, 720544, 708262, 695991, 868027, 196293, 87762, 186069, 573141, 970458, 317148, 302816, 689889, 427754, 663279, 642807, 487160, 976635, 102141, 347907, 315140, 798472, 935698, 917270, 128799, 706339, 532261, 261941, 669498, 300860, 102206, 343874, 325443, 694083, 163650, 954192, 835408, 925523, 642899, 161624, 671580, 913247, 784232, 114537, 36714, 900980, 831349, 886653, 698245, 974726, 860038, 602007, 720792, 122776, 30622, 71582, 776098, 1009573, 995240, 540586, 266165, 733109, 913340, 888765, 69579, 876492, 161754, 440295, 778228, 716799}
HME_YYYYMM
{200704, 200705, 200706, 200707, 200708, 200709, 200710, 200711, 200712, 200201, 200203, 200205, 200206, 200207, 200208, 200209, 200210, 200211, 200212, 200801, 200802, 200803, 200804, 200805, 200806, 200807, 200808, 200809, 200810, 200811, 200812, 200302, 200303, 200304, 200305, 200306, 200307, 200308, 200309, 200310, 200311, 200312, 200402, 200403, 200404, 200405, 200406, 200407, 200408, 200409, 200410, 200411, 200412, 200502, 200503, 200504, 200505, 200506, 200507, 200508, 200509, 200510, 200511, 200512, 200602, 200603, 200604, 200605, 200606, 200607, 200608, 200609, 200610, 200611, 200612, 200701, 200702, 200703}
Q_FHX_HTN
{0, 1}
Q_FHX_STK
{0, 1}
Q_FHX_HTDZ
{0, 1}
Q_FHX_DM
{0, 1}
Q_FHX_ETC
{0, 1}
Q_DRK_FRQ_V0108
{1, 2, 3, 4, 5}
Q_DRK_AMT_V0108
{1, 2, 3, 4}
Q_SMK_YN
{1, 2, 3}
Q_SMK_NOW_AMT_V0108
{0, 1, 2, 3, 4}
Q_PA_FRQ
{1, 2, 3, 4, 5}
G1E_BMI
{0, 1, 2, 3}
Q_PHX_DX_STK
{0, 1}
Q_PHX_DX_HTDZ
{0, 1}
Q_PHX_DX_HTN
{0, 1}
Q_PHX_DX_DM
{0, 1}
Q_PHX_DX_PTB
{0, 1}
Q_PHX_DX_ETC
{0, 1}

In [244]:
len(modify_screening2_data.columns)

20

In [245]:
merge_data = pd.concat([merge_data, modify_screening2_data])

In [246]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_ETC,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC
0,2002,572493,200211,0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0
1,2002,874800,200207,0,0,0,0,0,1,1,1,0,2,2,0,0,0,0,0,0
2,2002,88450,200207,0,0,0,0,1,1,1,1,0,2,1,0,0,0,0,0,0
3,2002,56993,200212,0,0,0,1,0,2,2,1,0,1,2,0,0,0,0,0,0
4,2002,591264,200210,0,0,0,0,0,2,2,3,2,1,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,2015,266734,201504,0,0,0,0,1,2,3,2,0,4,2,0,0,0,0,0,0
1640,2015,343874,201511,0,0,0,0,0,1,1,2,0,3,1,0,0,0,1,0,0
1641,2015,798472,201507,0,0,0,0,0,1,1,2,0,1,1,0,0,0,0,0,0
1642,2015,720080,201505,0,0,0,1,0,1,2,2,0,5,2,0,0,0,0,0,0
1643,2015,127519,201511,0,0,0,0,0,4,4,2,0,4,2,0,0,1,0,0,0

In [247]:
merge_data.reset_index(inplace=True,drop=True)

In [248]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_ETC,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,Q_SMK_YN,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC
0,2002,572493,200211,0,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0
1,2002,874800,200207,0,0,0,0,0,1,1,1,0,2,2,0,0,0,0,0,0
2,2002,88450,200207,0,0,0,0,1,1,1,1,0,2,1,0,0,0,0,0,0
3,2002,56993,200212,0,0,0,1,0,2,2,1,0,1,2,0,0,0,0,0,0
4,2002,591264,200210,0,0,0,0,0,2,2,3,2,1,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2690,2015,266734,201504,0,0,0,0,1,2,3,2,0,4,2,0,0,0,0,0,0
2691,2015,343874,201511,0,0,0,0,0,1,1,2,0,3,1,0,0,0,1,0,0
2692,2015,798472,201507,0,0,0,0,0,1,1,2,0,1,1,0,0,0,0,0,0
2693,2015,720080,201505,0,0,0,1,0,1,2,2,0,5,2,0,0,0,0,0,0
2694,2015,127519,201511,0,0,0,0,0,4,4,2,0,4,2,0,0,1,0,0,0

In [249]:
len(set(merge_data["RN_INDI"]))

589

### 진료파일과 건강검진의 id 유무 비교
- 건강검진의 id가 진료 데이터에 id에 존재하는지 확인

In [250]:
len(set(modify_diagnois_data["MCEX_SICK_SYM"]))

4542

In [251]:
disease_byid = {}
for id in modify_diagnois_data["RN_INDI"]:
    disease_byid[id] = []

In [252]:
len(disease_byid.keys())

997

In [253]:
len(set(diagnois_data["RN_INDI"]))
len(set(screening_data["RN_INDI"]))

395

In [254]:
count = 0
idList = list(set(diagnois_data["RN_INDI"]))
for id in list(set(screening_data["RN_INDI"])):
    if id in idList == False:
        count = count + 1
print(count)

0

### 건강검진 데이터와 진료 데이터 합치기

In [255]:
merge_data["병유형"] = [[] for a in range(len(merge_data))]

In [256]:
merge_data[:10]

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_ETC,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,...,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC,병유형
0,2002,572493,200211,0,0,0,0,0,1,1,...,0,1,1,0,0,0,0,0,0,[]
1,2002,874800,200207,0,0,0,0,0,1,1,...,0,2,2,0,0,0,0,0,0,[]
2,2002,88450,200207,0,0,0,0,1,1,1,...,0,2,1,0,0,0,0,0,0,[]
3,2002,56993,200212,0,0,0,1,0,2,2,...,0,1,2,0,0,0,0,0,0,[]
4,2002,591264,200210,0,0,0,0,0,2,2,...,2,1,2,0,0,0,0,0,0,[]
5,2002,808467,200211,0,0,0,0,0,2,2,...,0,1,2,0,0,0,0,0,0,[]
6,2002,412901,200205,0,0,0,0,0,2,2,...,1,1,2,0,0,0,0,0,0,[]
7,2002,322147,200212,0,0,0,0,0,1,1,...,0,2,1,0,0,0,0,0,0,[]
8,2002,370314,200211,1,0,0,0,0,2,1,...,0,1,1,0,0,0,0,0,0,[]
9,2002,149741,200206,0,0,0,0,0,3,2,...,0,2,1,0,0,0,0,0,0,[]

In [257]:
diseaseList = {}
for data in set(merge_data["RN_INDI"]):
    diseaseList[data] = []
for idx, data in enumerate(set(merge_data["RN_INDI"])):
    diseaseList[data].append(list(modify_diagnois_data[modify_diagnois_data["RN_INDI"]==data]["대분류"]))

In [258]:
merge_data

,EXMD_BZ_YYYY,RN_INDI,HME_YYYYMM,Q_FHX_HTN,Q_FHX_STK,Q_FHX_HTDZ,Q_FHX_DM,Q_FHX_ETC,Q_DRK_FRQ_V0108,Q_DRK_AMT_V0108,...,Q_SMK_NOW_AMT_V0108,Q_PA_FRQ,G1E_BMI,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_ETC,병유형
0,2002,572493,200211,0,0,0,0,0,1,1,...,0,1,1,0,0,0,0,0,0,[]
1,2002,874800,200207,0,0,0,0,0,1,1,...,0,2,2,0,0,0,0,0,0,[]
2,2002,88450,200207,0,0,0,0,1,1,1,...,0,2,1,0,0,0,0,0,0,[]
3,2002,56993,200212,0,0,0,1,0,2,2,...,0,1,2,0,0,0,0,0,0,[]
4,2002,591264,200210,0,0,0,0,0,2,2,...,2,1,2,0,0,0,0,0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2690,2015,266734,201504,0,0,0,0,1,2,3,...,0,4,2,0,0,0,0,0,0,[]
2691,2015,343874,201511,0,0,0,0,0,1,1,...,0,3,1,0,0,0,1,0,0,[]
2692,2015,798472,201507,0,0,0,0,0,1,1,...,0,1,1,0,0,0,0,0,0,[]
2693,2015,720080,201505,0,0,0,1,0,1,2,...,0,5,2,0,0,0,0,0,0,[]
2694,2015,127519,201511,0,0,0,0,0,4,4,...,0,4,2,0,0,1,0,0,0,[]

In [259]:
diseaseList.keys()

dict_keys([294913, 829452, 145424, 964637, 587805, 665633, 495650, 92198, 706602, 825387, 215084, 370738, 38967, 301124, 680010, 335948, 815191, 245849, 606303, 358502, 305256, 354421, 725112, 628858, 942204, 909438, 166015, 741504, 739454, 297087, 383109, 948365, 483473, 979090, 237719, 26776, 403607, 805018, 92313, 321692, 473250, 329890, 4263, 688302, 948405, 336055, 637115, 446652, 764100, 356551, 393421, 727245, 979151, 626896, 839897, 483546, 2270, 346335, 698594, 897251, 96484, 6374, 889062, 884968, 637160, 149741, 194801, 674034, 51442, 768249, 153851, 874754, 663811, 753924, 219397, 559370, 971021, 999693, 47374, 762129, 915731, 975124, 334101, 860440, 882980, 422180, 870692, 397613, 874800, 39217, 262452, 559420, 848190, 956735, 452930, 921924, 553285, 444740, 418137, 364892, 41309, 84322, 606567, 80234, 934252, 483693, 88450, 344450, 416133, 637320, 717196, 688532, 45461, 911766, 285079, 321944, 582044, 518558, 979358, 49567, 686497, 760226, 532905, 166324, 264628, 793017, 817595, 356798, 874943, 752067, 84427, 182741, 676313, 633307, 414177, 266734, 125422, 211438, 53748, 690677, 692726, 674294, 279031, 233974, 911867, 211452, 145918, 946687, 995838, 395781, 985608, 979469, 784916, 430621, 418334, 127519, 377375, 303645, 631331, 82470, 530990, 782896, 592434, 4664, 447033, 971325, 231997, 586305, 889412, 598598, 819784, 942671, 737871, 811603, 27226, 322147, 393830, 356971, 383603, 582270, 950911, 479874, 199298, 107142, 670343, 518792, 627341, 590480, 121496, 225956, 354989, 17079, 299704, 432825, 756414, 334536, 416462, 621264, 277202, 725720, 490204, 330466, 549602, 633585, 60147, 801526, 570104, 391933, 699142, 422663, 387855, 668438, 68379, 326432, 461601, 230178, 512815, 60216, 314169, 736057, 260923, 791353, 611137, 123714, 840515, 934726, 344905, 394061, 475986, 203606, 944984, 27490, 160611, 830306, 570215, 584556, 985972, 934772, 908152, 367481, 66424, 951170, 347014, 691082, 375694, 836494, 525200, 437139, 506774, 203673, 641955, 562083, 267185, 195513, 56250, 144317, 318399, 814015, 680897, 1010623, 177099, 238542, 611279, 265168, 738257, 82901, 9175, 715739, 701404, 562142, 572384, 347108, 390119, 531439, 316400, 326639, 541685, 437237, 627701, 748540, 502784, 519172, 674823, 248846, 752655, 900114, 582676, 183321, 492570, 771097, 463902, 814115, 693283, 916515, 750632, 486441, 154665, 468010, 435246, 914480, 773168, 459837, 365630, 302146, 138307, 324678, 130119, 291910, 775244, 572493, 326742, 412761, 466014, 115809, 883814, 924778, 359531, 828529, 242807, 345207, 707707, 554112, 652416, 23682, 781445, 572549, 887943, 535689, 421007, 803990, 46233, 498848, 146593, 134307, 138407, 986287, 750776, 146621, 332997, 814279, 318669, 435405, 607439, 720080, 91351, 7386, 623836, 126173, 781532, 797920, 367840, 85219, 412901, 386280, 107753, 13546, 875758, 42231, 185597, 593157, 197894, 992522, 224527, 105746, 316695, 140568, 58649, 529690, 242976, 226594, 183606, 660791, 480569, 163129, 517447, 613708, 585046, 118108, 210270, 79207, 793962, 443755, 357738, 243053, 550255, 177527, 599419, 540028, 839037, 877959, 775563, 505228, 77197, 394639, 880016, 157073, 144786, 79250, 933265, 591253, 480668, 306589, 834975, 591264, 628127, 802213, 501161, 888234, 929195, 701869, 593325, 898484, 538038, 122296, 724414, 437697, 507330, 892360, 859599, 212433, 554452, 441816, 962008, 363994, 824794, 234977, 167400, 734700, 941551, 421359, 888305, 364020, 515572, 204278, 763384, 97785, 230908, 179714, 699907, 814600, 925195, 376332, 548365, 749074, 808467, 79379, 792082, 491031, 218649, 904730, 46621, 194080, 568865, 914987, 411180, 558657, 396870, 179785, 5707, 99917, 153174, 742999, 554585, 120410, 126561, 83553, 3690, 284267, 484978, 478840, 335484, 370314, 9866, 444042, 259727, 519824, 849556, 497301, 149142, 181909, 558741, 870041, 597659, 335520, 56993, 661154, 777889, 720544, 708262, 790184, 431791, 695991, 868027, 853696, 1005250, 196293, 247493, 353996, 198350, 87762, 186069, 573141, 970458, 317148, 302816, 689889, 427754, 560878, 663279, 136945, 642807, 487160, 976635, 102141, 718591, 347907, 315140, 98052, 798472, 714509, 364304, 935698, 481042, 917270, 69398, 128799, 706339, 532261, 827174, 440107, 261941, 669498, 300860, 102206, 343874, 325443, 694083, 163650, 657227, 978767, 954192, 835408, 925523, 642899, 161624, 671580, 913247, 784232, 114537, 36714, 900980, 831349, 886653, 698245, 974726, 860038, 468872, 112523, 602007, 720792, 122776, 30622, 71582, 747424, 776098, 1009573, 995240, 540586, 227244, 606125, 266165, 733109, 311226, 204730, 913340, 888765, 716732, 182208, 69579, 876492, 546772, 290774, 161754, 872410, 909278, 952290, 440295, 778228, 716799])

In [260]:
type(merge_data['RN_INDI'][0])

numpy.int32

In [261]:
def to_bigcategory(code):
    if "_" in code:
        return 0
    if len(code) < 1 :
        return 0
    if code.strip()[0] in ["A","B"]:return 1
    elif code.strip()[0] in ["C"]:return 2
    elif code.strip()[0] in ["D"]:
        if int(code[1:3]) <= 48:
            return 2
        elif int(code[1:3]) > 48:
            return 3
    elif code.strip()[0] in ["E"]:return 4
    elif code.strip()[0] in ["F"]:return 5
    elif code.strip()[0] in ["G"]:return 6
    elif code.strip()[0] in ["H"]:
        if int(code[1:3]) <= 59:
            return 7
        elif int(code[1:3]) > 59:
            return 8
    elif code.strip()[0] in ["I"]:return 9
    elif code.strip()[0] in ["J"]:return 10
    elif code.strip()[0] in ["K"]:return 11
    elif code.strip()[0] in ["L"]:return 12
    elif code.strip()[0] in ["M"]:return 13
    elif code.strip()[0] in ["N"]:return 14
    elif code.strip()[0] in ["O"]:return 15
    elif code.strip()[0] in ["P"]:return 16
    elif code.strip()[0] in ["Q"]:return 17
    elif code.strip()[0] in ["R"]:return 18
    elif code.strip()[0] in ["S","T"]:return 19
    elif code.strip()[0] in ["U"]:return 20
    elif code.strip()[0] in ["V","Y"]:return 21
    elif code.strip()[0] in ["Z"]:return 22
    return 0

In [262]:
for idx, data in enumerate(merge_data["RN_INDI"]):
    for code in list(set(diseaseList[data][0])):
        big_category= to_bigcategory(code)
        merge_data["병유형"][idx].append(big_category)

In [263]:
for idx, data in enumerate(merge_data["병유형"]):
    merge_data["병유형"][idx] = list(set(data))

C:\Users\tlsgh\anaconda3\envs\osaesg\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [264]:
merge_data.drop(["EXMD_BZ_YYYY","RN_INDI","HME_YYYYMM"],axis=1,inplace=True)

In [265]:
merge_data.iloc[-100]

Q_FHX_HTN                                                        0
Q_FHX_STK                                                        0
Q_FHX_HTDZ                                                       0
Q_FHX_DM                                                         0
Q_FHX_ETC                                                        1
Q_DRK_FRQ_V0108                                                  2
Q_DRK_AMT_V0108                                                  2
Q_SMK_YN                                                         1
Q_SMK_NOW_AMT_V0108                                              0
Q_PA_FRQ                                                         5
G1E_BMI                                                          1
Q_PHX_DX_STK                                                     0
Q_PHX_DX_HTDZ                                                    0
Q_PHX_DX_HTN                                                     0
Q_PHX_DX_DM                                                      0
Q_PHX_DX_PTB                                                     0
Q_PHX_DX_ETC                                                     0
병유형                    [0, 1, 2, 7, 9, 10, 11, 12, 13, 14, 18, 19]
Name: 2595, dtype: object

### AI 모델링

In [266]:
merge_data["병유형"]
label = merge_data["병유형"]

In [267]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
mlb.fit_transform(label)

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 1],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 1]])

In [268]:
X_train = np.array(merge_data.drop(["병유형", 'Q_PHX_DX_STK','Q_PHX_DX_HTDZ','Q_PHX_DX_HTN','Q_PHX_DX_DM','Q_PHX_DX_PTB','Q_PHX_DX_ETC'],axis=1)[:-100])
X_test = np.array(merge_data.drop(["병유형", 'Q_PHX_DX_STK','Q_PHX_DX_HTDZ','Q_PHX_DX_HTN','Q_PHX_DX_DM','Q_PHX_DX_PTB','Q_PHX_DX_ETC'],axis=1)[-100:])
y=mlb.fit_transform(label)
y_train= np.array(y[:-100])
y_test = np.array(y[-100:])

In [269]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import f1_score
for num in range(1,50):
    print(num)
    print('\n')
    knn_clf = KNeighborsClassifier(n_neighbors=num)
    knn_clf.fit(X_train, y_train)
    y_train_knn_pred = cross_val_predict(knn_clf, X_train, y_train, cv=3)
    print(f1_score(y_train,y_train_knn_pred,average="macro"))

1


0.6058408675630459
2


0.5212550201481391
3


0.5942055108628607
4


0.5649116544786985
5


0.6041890101531507
6


0.5849026935486982
7


0.6076363720341973
8


0.5884356855990682
9


0.6070325647563027
10


0.5908503098845203
11


0.6077981806313553
12


0.5944965045343572
13


0.6080743311953298
14


0.5948007147907565
15


0.6072783816684948
16


0.5949651442575914
17


0.605602384794341
18


0.5948848602517212
19


0.6068744136185891
20


0.5950986025989476
21


0.6014704739889164
22


0.5936087715824674
23


0.604606259285773
24


0.5918958989717656
25


0.6043014303906075
26


0.5943708061256034
27


0.6012575701697033
28


0.5927758128333527
29


0.5990322869594306
30


0.5925238817065035
31


0.5975720877500938
32


0.5902055996200568
33


0.5977319085836089
34


0.5865348849772325
35


0.5952913789095932
36


0.5887039967148064
37


0.594995652188329
38


0.5913670606764342
39


0.5937923783252598
40


0.5897734463590832
41


0.5935954624240695
42


0.58719254690768
43


0.5942646698509773
44


0.5846850198900752
45


0.5900464602915371
46


0.5828646625641632
47


0.5887375629525713
48


0.5846887823690299
49


0.5844793948510391

In [270]:
knn_clf = KNeighborsClassifier(n_neighbors=38)
knn_clf.fit(X_train, y_train)
y_train_knn_pred = cross_val_predict(knn_clf, X_train, y_train, cv=3)
print(f1_score(y_train,y_train_knn_pred,average="macro"))

0.5913670606764342

In [271]:
knn_clf.predict_proba(X_test[2].reshape(1,-1))

[array([[0.05263158, 0.94736842]]),
 array([[0.13157895, 0.86842105]]),
 array([[0.65789474, 0.34210526]]),
 array([[0.76315789, 0.23684211]]),
 array([[0.31578947, 0.68421053]]),
 array([[0.44736842, 0.55263158]]),
 array([[0.18421053, 0.81578947]]),
 array([[0.26315789, 0.73684211]]),
 array([[0.34210526, 0.65789474]]),
 array([[0., 1.]]),
 array([[0., 1.]]),
 array([[0., 1.]]),
 array([[0.02631579, 0.97368421]]),
 array([[0.36842105, 0.63157895]]),
 array([[0.89473684, 0.10526316]]),
 array([[1., 0.]]),
 array([[1., 0.]]),
 array([[0.02631579, 0.97368421]]),
 array([[0.07894737, 0.92105263]]),
 array([[1., 0.]]),
 array([[1., 0.]]),
 array([[0.73684211, 0.26315789]])]

In [272]:
from sklearn.naive_bayes import MultinomialNB
Mnb = MultinomialNB()
Mnb.fit(X_train,y_train)

In [273]:
print(y_train_knn_pred[:10])
print(y_train[:10])

[[1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 0 0 1 1 0 1 1 1 1 0 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 0 0 1 1 0 1 1 1 1 0 0 0 0 1 1 0 0 0]
 [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 0 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 0 1 0 1 1 1 1 1 1 0 0 0 1 1 0 0 0]]
[[1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 1 1 0 0 0]
 [1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1]
 [1 1 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 0 0 0]
 [1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 0 0 1 0 1 1 1 1 1 0 0 0 0 1 1 0 0 1]
 [1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 0 0 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 0 0 0]
 [1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 0 0 1]
 [1 1 1 1 1 0 1 0 0 1 1 1 1 0 0 0 0 1 1 0 0 1]
 [0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0]]

In [274]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, oob_score=True, random_state=123456)
rf.fit(X_train, y_train)

RandomForestClassifier(oob_score=True, random_state=123456)

In [275]:
y_train_rf_pred = cross_val_predict(rf, X_train, y_train, cv=3)
print(f1_score(y_train,y_train_knn_pred,average="macro"))

0.5913670606764342

In [276]:
rf.predict_proba(X_test[0].reshape(1,-1))

[array([[0.03582418, 0.96417582]]),
 array([[0.80430403, 0.19569597]]),
 array([[0.85486264, 0.14513736]]),
 array([[0.95500916, 0.04499084]]),
 array([[0.12, 0.88]]),
 array([[0.83012821, 0.16987179]]),
 array([[0.78081502, 0.21918498]]),
 array([[0.81499084, 0.18500916]]),
 array([[0.85499084, 0.14500916]]),
 array([[0.03499084, 0.96500916]]),
 array([[0., 1.]]),
 array([[0.01499084, 0.98500916]]),
 array([[0.01582418, 0.98417582]]),
 array([[0.16012821, 0.83987179]]),
 array([[1., 0.]]),
 array([[1., 0.]]),
 array([[1., 0.]]),
 array([[0.75, 0.25]]),
 array([[0., 1.]]),
 array([[0.99, 0.01]]),
 array([[1., 0.]]),
 array([[0.88, 0.12]])]

In [277]:
import pickle
import joblib

In [283]:
joblib.dump(rf,'./data/rf_model.pkl')

['./data/rf_model.pkl']

In [279]:
loaded_model = joblib.load('./data/rf_model.pkl')

In [285]:
a= loaded_model.predict_proba(X_test[10].reshape(1,-1))

In [292]:
s=[b[0][1]for b in a]
k= sorted(range(len(s)),key=lambda k:s[k],reverse=True)
print(k)

[9, 17, 10, 18, 1, 11, 12, 7, 6, 0, 5, 4, 8, 3, 13, 2, 21, 20, 14, 15, 16, 19]

In [281]:
ab = []
for col,item in merge_data.iteritems():
    ab.append(col)
    print(col)
    print(set(item))

Q_FHX_HTN
{0, 1}
Q_FHX_STK
{0, 1}
Q_FHX_HTDZ
{0, 1}
Q_FHX_DM
{0, 1}
Q_FHX_ETC
{0, 1}
Q_DRK_FRQ_V0108
{1, 2, 3, 4, 5}
Q_DRK_AMT_V0108
{1, 2, 3, 4}
Q_SMK_YN
{1, 2, 3}
Q_SMK_NOW_AMT_V0108
{0, 1, 2, 3, 4}
Q_PA_FRQ
{1, 2, 3, 4, 5}
G1E_BMI
{0, 1, 2, 3}
Q_PHX_DX_STK
{0, 1}
Q_PHX_DX_HTDZ
{0, 1}
Q_PHX_DX_HTN
{0, 1}
Q_PHX_DX_DM
{0, 1}
Q_PHX_DX_PTB
{0, 1}
Q_PHX_DX_ETC
{0, 1}
병유형

TypeError: unhashable type: 'list'

In [ ]:
BMI = a["weight"]/(a["height"]/100)**2
a["family_stroke"],a["family_heart"],a["family_highBlood"],a["family_diabetes"],a["family_etc"],a["drink_count"],a["drink_amount"],a["smoke_yn"],a["smoke_amount"],a["exercise_count"],BMI

In [282]:
np.shape(X_test[0])

(11,)